<section class="home">
    <div class="container">

        <div class="col-lg-12">   

            <div class="head d-flex align-items-center">
                <h3>Feedback Approvals</h3>
            </div>        
        </div>

        
        <div class="col-lg-12">

            <div class="box p-0">
              
                <div class="row">

                    <div class="col-lg-4 col-12">
                        <div class="box identity">
                            <span *ngIf="dataArray.user.dlImage">
                                <img [src]="dataArray.user.dlImage" alt="">
                            </span>
                        </div>
                    </div>
    
                    <div class="col-lg-8 col-12">
                        <div class="box approval-detail">    
                            <ul>
                                <li>Name <span class="ms-auto">{{dataArray.user.firstName}} {{dataArray.user.lastName}}</span></li>
                                <li>Date of Birth (req) <span class="ms-auto">{{dataArray.user.formated_dob}}</span></li>
                                <li>DL Number <span class="ms-auto">{{dataArray.user.dlNumber}}</span></li>
                                <li>Address <span class="ms-auto">{{dataArray.user.address}}</span></li>
                                <li>DL State <span class="ms-auto">{{dataArray.user.dlState}}</span></li>
                                <li>DL Expiry Date <span class="ms-auto">{{dataArray.user.formated_dlExpiry}}</span></li>
                            </ul>    
                        </div>
                    </div>
    
                </div><!--row-->
            </div>

        </div>

        <div class="row mt-4">
            
            <div class="col-lg-12">
                <div class="feedback">
                    <h3>Feedback</h3>
                    
                    <div class="inner-box">
                        <h2>{{dataArray.hotelData.hotelname}}  |  {{dataArray.feedbackdata.date_added }}  <button class="ms-auto" routerLink="/edit-feedback/{{dataArray.feedbackdata._id}}"><img src="../../../assets/image/edit-1.svg" alt=""> Edit</button></h2>
                        <h6>DNR Reasons</h6>
                            <ul>
                                <li *ngFor="let reson of dataArray.feedbackdata.drReasonArray">{{reson | commonDnrName | async}}</li>

                                
                                <li *ngIf="dataArray.feedbackdata.comments != ''">Other:</li>   
                                <p *ngIf="dataArray.feedbackdata.comments != ''">{{feedback.guestDetails.comments}}</p>                            
                            </ul>

                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="multi-photo">
                                        <div class="multi-photo">
                                            <h5>Photo</h5>
                                            <div class="list">
                                                <span *ngFor="let photoSrc of dataArray.feedbackdata.photosArray">
                                                    <a href="{{ photoSrc }}" target="_blank"><img src="{{ photoSrc }}" alt=""></a>
                                                </span>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="multi-photo multi-video">
                                        <h5>Video</h5>
                                        <div class="list">
                                            <span *ngFor="let videoSrc of dataArray.feedbackdata.videoArray">
                                                    <video controls>
                                                        <source src="{{ videoSrc }}" type="video/mp4">
                                                    </video>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>

            </div>

            <div class="footer-btn">
                <button class="btn reject" data-bs-toggle="modal"  data-bs-target="#rejectModal">reject</button>
                        <button class="btn accept" data-bs-toggle="modal" data-bs-target="#acceptModal">accept</button>
            </div>

        </div><!--row-->

    </div>
</section>

<!-- Modal -->
<div class="modal fade error-modal" id="acceptModal" tabindex="-1" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!--  -->
        <div class="modal-body">
            <img src="../../../assets/image/check-modal.svg" alt="">
          <p class="modal-title">Are you sure you want to Accept
            this feedback?</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary black" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="approveFeedback()" data-bs-dismiss="modal" >Ok</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade error-modal" id="rejectModal" tabindex="-1" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!--  -->
        <div class="modal-body">
            <img src="../../../assets/image/check-modal.svg" alt="">
          <p class="modal-title">Are you sure you want to reject
            this feedback?</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary black" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="rejectFeedback()" data-bs-dismiss="modal" >Ok</button>
        </div>
      </div>
    </div>
</div>


<div  class="modal  error-modal"  tabindex="-1" id="hotelPermission" role="dialog"  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../../assets/image/error-modal.svg" alt="">
          <p class="modal-title">{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closePopup()">ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" [ngStyle]="{'display':displayStyle}"></div>
  <ngx-spinner size="medium"  type = "timer">
    <p style="color: white" ></p>
  </ngx-spinner>
  