section.home {
    padding: 0 0 30px;
}

.head{
    margin: 0 0 15px;
    padding: 0 12px;
    h3 {
        font-size: 20px;
        text-align: left;
        font-family: 'medium';
        margin:0;
    }
}

.number span {
    margin-right: 15px;
}

.number span select.form-control {
    width: auto;
    padding: 0 15px;
    padding-right: 35px;
    background-position-x: 78%;
    background-size: 11px;
}


.error-modal .modal-body {
    text-align: center;
    padding: 35px 35px 25px;
}

.error-modal .modal-body p.modal-title {
    font-size: 20px;
    color: #403E4A;
    margin: 15px auto 0;
    width: 80%;
    display: block;
}

.modal-footer {
    border: none;
    padding-top: 0 !important;
    padding: 30px;
}

.error-modal .modal-footer button {
    margin: 0 auto;
    min-width: 118px;
    height: 45px;
    text-transform: uppercase;
    background: #363636;
    border: none;
}

.modal-header {
    position: absolute;
    right: 0;
    top: -30px;
    border: none;
    color: #fff;
    line-height: 33px;
    padding: 0;
}

.modal-header button {
    color: #fff !important;
    box-shadow:none !important;
    width: auto;
    opacity: 1;
    background: transparent;
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal;
    height: 24px;
}

.modal-content {
    border: none;
    border-radius: 8px;
}


span.or {
    text-align: center;
    width: 100%;
    color: #797780;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    padding: 12px 0 15px;
    position: relative;
}

span.or:after {
    content: '';
    width: 45%;
    position: absolute;
    height: 1px;
    background: #C5C4C8;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

span.or:before {
    content: '';
    width: 45%;
    position: absolute;
    height: 1px;
    background: #C5C4C8;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

form{
    padding: 0 12px;
}