<section class="login">
    <div class="row m-0">
      <div class="col-lg-6 col-12 p-0">
            <section class="login-bg">
                <img src="../../../assets/image/logo2.png" alt="">
            </section>
        </div>
        <div class="col-lg-6 col-12 p-0">

            <div class="top">
                Don't have an account? <button class="btn" routerLink="/register">register</button>
            </div>

            <section class="card mx-auto">

                <div class="head">
                    <h2>Login</h2>
                    <p>Please enter your details.</p>
                </div>
    
                <form [formGroup]="loginDetails" (ngSubmit)="submit()" #myform="ngForm">
                  <fieldset>
                    <div class="form-group">
                        <label>Username<sup class="required_star">*</sup></label>
                        <input type="username" formControlName="username" placeholder="Enter your username" class="form-control">
                        <div *ngIf="loginDetails.get('username').invalid && myform.submitted">
                          <div class="text-danger" >Valid username is required</div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label>Password<sup class="required_star">*</sup></label>
                        <div class="pwd">
                          <input type="password" formControlName="password" #cpassword  placeholder="Enter Password" class="form-control">
                          <img src="../../../assets/image/eye.svg" (click)="cpassword.type=cpassword.type=='password'?'text':'password'" alt="">
                        </div>
                        <div *ngIf="loginDetails.get('password').invalid && myform.submitted">
                          <div class="text-danger" >Password is required</div>
                        </div>
                    </div>

                    <a><br></a>
                    <input  type="submit"  name="submit" class="btn btn-info" value="Submit"/>
                  </fieldset>
                </form>

            </section>
        </div>
    </div>
</section>



<!-- Modal -->
<div  class="modal error-modal"  tabindex="-1" id="hotelPermission" role="dialog"  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closePopup()" data-bs-dismiss="modal">x close</button>
        </div>
        <div class="modal-body">
            <img src="../../../assets/image/error-modal.svg" alt="">
            <p class="modal-title">{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closePopup()" data-bs-dismiss="modal">ok</button>
        </div>
      </div>
    </div>
  </div>

  

<!-- Modal -->
<div class="modal fade error-modal" id="approval" tabindex="-1" aria-labelledby="approvalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal">x close</button>
        </div>
        <div class="modal-body">
            <img src="../../../assets/image/error-modal.svg" alt="">
          <p class="modal-title">Wait for Admin Approval</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok</button>

          <span><a href="#">RESEND EMAIL</a> CONFIRMATION ON xyz@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
