<section class="home">
    <div class="container">

        <div class="col-lg-12">   

            <div class="head d-flex align-items-center">
                <h3>Add Guest</h3>
            </div>        
        </div>

     <form [formGroup]="personalDetails" id="msform" (ngSubmit)="submit()" #f="ngForm">
                            <fieldset>    
        <div class="col-lg-12">

            <div class="row">

                <div class="col-lg-4 col-12">
                    <div class="box identity">
                        <h4>DL image</h4>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelectDlimage($event)">
                            <ngx-dropzone-label>
                              <img src="../../../assets/image/upload.svg" alt="">
                              <h6>Drop your image here, or browse</h6>
                              <span>Supports only PNG,JPG or JPEG</span>
                            </ngx-dropzone-label>                       
                        </div>
                        <span class="optional">(optional)</span>
                        <div class="image-preview">
                          <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let image of Dlimages" [file]="image" [removable]="true" (removed)="onRemoveDlimage(image)">
                            <ngx-dropzone-label>{{ image.name }} ({{ image.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-12">
                    <div class="box">

                       
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                    <label>First Name <sup class="required_star">*</sup></label>
                                    <input type="text" maxlength="20" formControlName="firstName"  placeholder="Enter Name" class="form-control"/>
                                    <div *ngIf="personalDetails.get('firstName').invalid && formSubmitAttempt">
                                        <div class="text-danger" >First name is invalid</div>
                                      </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>Last Name <sup class="required_star">*</sup></label>
                                      <input type="text" maxlength="20" formControlName="lastName" class="form-control" placeholder="Last name">
                                      <div *ngIf="personalDetails.get('lastName').invalid && formSubmitAttempt">
                                        <div class="text-danger" >Last name is invalid</div>
                                      </div>
                                  </div>
                                </div>  
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>Date of Birth</label>
                                      <input type="date" max="{{myDate}}" formControlName="dob" class="form-control" placeholder="Date of Birth">
                                      <span class="optional">(optional)</span>
                                      <div *ngIf="personalDetails.get('dob').invalid && formSubmitAttempt">
                                        <div class="text-danger" >Date of Birth is invalid</div>
                                      </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>DL Number <sup class="required_star">*</sup></label>
                                      <input type="text" formControlName="dlNumber" maxlength="20" placeholder="DL Number" class="form-control">
                                      <div *ngIf="personalDetails.get('dlNumber').invalid && formSubmitAttempt">
                                        <div class="text-danger" >DL Number is invalid</div>
                                      </div>
                                  </div>
                                </div>   
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>DL Expiry Date</label>
                                      <input type="date" formControlName="dlExpiryDate" class="form-control" placeholder="">
                                      <div *ngIf="personalDetails.get('dlExpiryDate').invalid && formSubmitAttempt">
                                        
                                        <div class="text-danger" >DL Expiry Date is invalid</div>
                                      </div>
                                      <span class="optional">(optional)</span>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>DL State <sup class="required_star">*</sup></label>
                                      
                                      <select formControlName="dlState" class="form-control">
                                        <option value="">Select DL state</option>
                                        <option *ngFor="let dlstate of state" value="{{dlstate}}">{{dlstate}}</option>
                                      </select>
                                      <div *ngIf="personalDetails.get('dlState').invalid && formSubmitAttempt">
                                        <div class="text-danger" >DL State is invalid</div>
                                      </div>
                                  </div>
                                </div>       
                                <div class="col-lg-12 col-12">
                                  <div class="form-group">
                                      <label>Address</label>
                                      <input type="text" formControlName="address"  autocomplete="disabled" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Enter Address">
                                     
                                      <input type="hidden" formControlName="city">
                                      <input type="hidden" formControlName="state">
                                      <span class="optional">(optional)</span>
                                  </div>
                                </div>
                                <!--div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>City</label>
                                      <input type="text" formControlName="city"  class="form-control" placeholder="Enter City">
                                      <div *ngIf="personalDetails.get('city').invalid && personalDetails.get('city').touched">
                                        <div class="text-danger" >City is required</div>
                                      </div>
                                  </div>
                                </div>        
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>State</label>
                                      <input type="text" formControlName="state"  class="form-control" placeholder="Enter State">
                                      <div *ngIf="personalDetails.get('state').invalid && personalDetails.get('state').touched">
                                        <div class="text-danger" >State is required</div>
                                      </div>
                                  </div>
                                </div-->
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                      <label>Zip Code</label>
                                      <input type="text" formControlName="zipCode" class="form-control" placeholder="Enter Zip Code">
                                    
                                      <span class="optional">(optional)</span>
                                  </div>
                                </div>  
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Hotel Name <sup class="required_star">*</sup></label>
                                        <select formControlName="hotelId" id="hotelId" class="form-control">
                                            <option value="">Select Hotel</option>
                                            <option *ngFor="let row of hotels" value="{{row._id}}">{{row.hotelname}}</option>
                                        </select>
                                        <div *ngIf="personalDetails.get('hotelId').invalid && formSubmitAttempt">
                                            <div class="text-danger" >Hotel Name is invalid</div>
                                          </div>
                                    </div>
                                  </div>                        
                              </div><!--row-->
                           

                    </div>
                </div>

            </div><!--row-->

        </div>

        <div class="row mt-4">

            <div class="col-lg-6 col-12">
                <div class="box p-0">
                    <h4>Photos</h4>
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelectPhoto($event)">
                        <ngx-dropzone-label>
                          <img src="../../../assets/image/upload.svg" alt="">
                            <h6>Drop your image here, or browse</h6>
                            <span>Supports only PNG,JPG or JPEG</span>
                        </ngx-dropzone-label>                                              
                    </div>
                    <span class="optional">(optional)</span>
                    <div class="image-preview">
                      <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let photo of photos" [file]="photo" [removable]="true" (removed)="onRemovePhoto(photo)">
                        <ngx-dropzone-label>{{ photo.name }} ({{ photo.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview> 
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="box p-0">
                    <h4>Videos</h4>
                    <div class="custom-dropzone" ngx-dropzone [accept]="'video/*'" (change)="onSelectVideo($event)">
                        <ngx-dropzone-label>
                          <img src="../../../assets/image/upload.svg" alt="">
                          <h6>Drop your video here, or browse</h6>
                          <span>Supports all video format</span>
                        </ngx-dropzone-label>                                           
                    </div>
                    <span class="optional">(optional)</span>
                    <div class="image-preview">
                      <ngx-dropzone-video-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let video of videos" [file]="video" [removable]="true" (removed)="onRemoveVideo(video)">
                        <ngx-dropzone-label>{{ video.name }} ({{ video.type }})</ngx-dropzone-label>
                        </ngx-dropzone-video-preview>     
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 mt-5">
                <div class="feedback">
                    <h3>Give Feedback</h3>
                    <span>Most Common DNR Reasons</span>

                    <ul>
                        <li *ngFor="let data of dnrReasonList.dnrReasonList; let i=index">
                          <input type="checkbox" [value]="data._id" (change)="onCheckboxChange($event)"> <span></span>{{data.Dnr_title}}
                        </li>
                        <li>
                          <input type="checkbox" value="others" (change)="checkOtherReason($event)"> <span></span>Other
                        </li>
                    </ul>
                </div>

                <div class="feedback comment" *ngIf="reasonOther == true" >
                    <h3>Comments</h3>
                    <textarea  id="" formControlName="comments" placeholder="Enter Details..." class="form-control"></textarea>
                    <div *ngIf="personalDetails.get('comments').invalid && personalDetails.get('comments').touched">
                        <div class="text-danger" >Comments is required</div>
                    </div>
                </div>

            </div>

            <button type="submit"   class="btn">Save</button>

        </div><!--row-->
    </fieldset>
</form>
    </div>
</section>
<div  class="modal  error-modal"  tabindex="-1" id="hotelPermission" role="dialog"  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../../assets/image/error-modal.svg" alt="">
          <p class="modal-title">{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closePopup()">ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" [ngStyle]="{'display':displayStyle}"></div>
  <ngx-spinner size="medium"  type = "timer">
    <p style="color: white" ></p>
  </ngx-spinner>