<div class="landing-page">
      <section class="header main-head">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
               <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                  <img src="../../../assets/image/logo.svg" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#features">Features</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#benefits">Benefits</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#price">Price</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#contact">Contact Us</a>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Login/Register
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <li><a class="dropdown-item front-desk-btn btn" routerLink="/front-desk-login">Login As Front Desk</a></li>
                                 <li><a class="dropdown-item hotel-owner-btn btn" routerLink="/login">Login As Hotel Owner</a></li>
                                   <li class="divider">OR</li>
                                 <li><a class="dropdown-item register-now-btn" routerLink="/register">Register Now</a></li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </nav>
            <div class="main-banner text-center">
               <h1>VM Search</h1>
               <h2>Guest Management System</h2>
               <p>Keep troublemakers and annoying guests away from your hotel with the VM Guest Management System. VM Secure is a real-time search software that helps prevent your property from guests and customers who can damage or harm your property.</p>
               <img class="img-fluid desktop-banner" src="../../../assets/image/banner.png" alt="">
               <img class="img-fluid mob-banner" src="../../../assets/image/banner-mob.png" alt="">
            </div>
         </div>
      </section>

      <section id="features" class="features-section">
         <div class="container">
            <div class="row">
               <div class="col-md-6 p-0">
                  <img class="img-fluid" src="../../../assets/image/dnr.png" alt="">
               </div>
               <div class="col-md-6 content">
                  <h2>DNR</h2>
                  <p>Protect your hotel from troublemakers and guests causing harm to your property with the DNR (Do-Not-Rent) guest lists available on the VM Secure software. With the help of IDproofs, you can check the details about the guest and the reasons why they are on the DNR list before confirming their bookings.</p>
               </div>
            </div>

            <div class="row">
               <div class="col-md-6 content text-right mt-4 live-events-section">
                  <h2>Live Events</h2>
                  <p>If you want other hotel owners not to rent their property to DNR guests, then simply place them on your live events Do-Not-Rent List. The hotel owners will be alerted if a guest tries to book a room again in any hotel 
                     within a range of 5KM.
                  </p>
               </div>
               <div class="col-md-6 p-0 mt-4">
                  <img class="img-fluid" src="../../../assets/image/live-events.png" alt="">
               </div>
            </div>

            <div class="row">
               <div class="col-md-6">
                  <div class="video-section mt-5">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/tkn78AkT1aI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     <h3>Hotel Owner</h3>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="video-section mt-5">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/tkn78AkT1aI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     <h3>Front Desk Management</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>


	  <section id="benefits" class="benefits-section">
		<div class="container">
			<div class="text-center benefits-content"> 
			<h4>Benefits that Work for you</h4>	  
			<p>Invite reliable & responsible guests with VM Secure guest management software during check-in and post your valuable feedback about your guest's behavior. It will help other hotels & your 
			   hotel branches to view this feedback when the guest revisits any other hotel.</p>
			</div>
		   <div class="row">
			  <div class="col-md-4">
				<div class="p-0 benefits-content-area text-center valuable-guest-reviews-section">
				  <img class="img-fluid" src="../../../assets/image/icons/benefits-1.svg" alt="">
					<h5>Valuable Guest Reviews</h5>
					<p>At VM Search, hotel owners can leave their valuable feedback about guests and troublemakers and put their names on the DNR list.</p>
			  </div>
			  </div>

			  <div class="col-md-4">
				<div class="p-0 benefits-content-area text-center pt-5 record-info-section">
				<img class="img-fluid" src="../../../assets/image/icons/benefits-2.svg" alt="">
				  <h5>Record Guest Information</h5>
				  <p>The front desk manager can analyze and record guest information to identify the history of an incident that occurs.</p>
			</div>
			</div>

			<div class="col-md-4">
				<div class="p-0 benefits-content-area text-center multi-hotel-section">
				<img class="img-fluid" src="../../../assets/image/icons/benefits-3.svg" alt="">
				  <h5>Multi- Hotel</h5>
				  <p>Understand your guest's behaviors through our DNR feedback system.</p>
			</div>
		    </div>
			</div>
		</div>
		</section>

      <section id="price" class="pricing-section">
         <div class="container">
            <div class="pricing-content"> 
               <h4><span>Simple, Transparent</span> Pricing</h4>
               <p>No Contact, No Surprise Fees.</p>            
            </div>

            <div class="row">
               <div class="col-md-6">
                  <div class="pricing-plan-area">
                     <div class="choose-plan-area">
                     <div>
                        <p>Monthly</p>
                        <h1>$39</h1>
                     </div>

                  <div>
                     <a href="#" class="btn choose-plan-btn"> Choose Plan</a>
                  </div>
               </div>
                 <div class="price-content">
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
               </div>
   
                  <div class="choose-plan-price">
                     <div class="row">
                           <div class="col-xl-5 col-lg-12">
                           <ul>
                              <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp; All Limited Links</li>
                              <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp; All Limited Links</li>
                           </ul>
                           </div>

                           <div class="col-xl-6 col-lg-12">
                           <ul>
                              <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp;  Own analytics Platform</li>
                              <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp;  Own analytics Platform</li>
                           </ul>
                           </div>
                        </div>
                  </div>
               </div>
              </div>

              <div class="col-md-6">
               <div class="pricing-plan-area yearly-pricing-plan">
                  <div class="choose-plan-area">
                  <div>
                     <p>Yearly</p>
                     <h1>$35</h1>
                  </div>

               <div>
                  <a href="#" class="btn choose-plan-btn"> Choose Plan</a>
               </div>
            </div>

            <div class="price-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>

               <div class="choose-plan-price">
                  <div class="row">
                        <div class="col-xl-6 col-lg-12">
                        <ul>
                           <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp; All Limited Links</li>
                           <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp; All Limited Links</li>
                        </ul>
                        </div>

                        <div class="col-xl-6 col-lg-12">
                        <ul>
                           <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp;  Own analytics Platform</li>
                           <li><img class="img-fluid" src="../../../assets/image/icons/checked.svg">&nbsp; &nbsp;  Own analytics Platform</li>
                        </ul>
                        </div>
                     </div>
               </div>
            </div>
           </div>
         </div>
              
         </div>
      </section>


      <section id="contact" class="footer mt-5">
         <div class="container">
            <div class="text-center footer-logo">
                <img class="img-fluid footer-logo-img" src="../../../assets/image/footer-logo.svg" alt="">
            </div>

            <div class="email-info"> 
               <img src="../../../assets/image/icons/envelope.svg" alt="">
               <div class="envelope">
                  <ul>
                     <li>Email Address</li>
                     <li><a href="#">john.doe@gmail.com</a></li>
                  </ul>
               </div>
            </div>
         
            <div class="content-section">
               <p>VM Search is one search alert software that instantly notifies you about annoying and troublemaking guests with an accessible DNR list. </p>
            </div>
    
            <div class="footer-links">
               <ul>
                  <li> <a href="#"> Home</a></li>
                  <li> <a href="#features"> Features</a></li>
                  <li> <a href="#benefits"> Benefits</a></li>
                  <li> <a  href="#price"> Price</a></li>
               </ul>
            </div>

            
         </div>
      </section>

      <section class="bottom-bar">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12">
                  <p>© 2022. All Rights Reserved.</p>
               </div>
               <div class="col-lg-6 col-md-6 col-12 links">
                  <ul>
                     <li> <a href="#">Privacy</a></li>
                     <li> <a href="#">Terms of service</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      
    </div>

      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
         -->
