<section class="login">
  <div class="row m-0">
    <div class="col-lg-6 col-12 p-0">
      <section class="login-bg">
        <img src="../../../assets/image/logo2.png" alt="" />
      </section>
    </div>
    <div class="col-lg-6 col-12 p-0">
      <section class="card mx-auto">
        <div class="head">
          <h2>Admin Login</h2>
          <p>Please enter your details.</p>
        </div>

        <form [formGroup]="AdminLoginDetails" (ngSubmit)="logins()">
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter your email"
              class="form-control"
            />
            <div
              *ngIf="
                AdminLoginDetails.get('email').invalid &&
                AdminLoginDetails.get('email').touched
              "
            >
              <div class="text-danger">Valid email is required</div>
            </div>
          </div>
          <div class="form-group mb-0">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              placeholder="Enter Password"
              class="form-control"
            />
            <div
              *ngIf="
                AdminLoginDetails.get('password').invalid &&
                AdminLoginDetails.get('password').touched
              "
            >
              <div class="text-danger">Password email is required</div>
            </div>
          </div>
          <br />
          <!-- <a class="forgot" routerLink="/verify-email">Forgot Password</a> -->
          <input
            type="submit"
            [disabled]="AdminLoginDetails.invalid"
            name="submit"
            class="btn btn-info"
            value="Submit"
          />
        </form>
      </section>
    </div>
  </div>
</section>
