<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Hotel Name</th>
    <th scope="col">Contact Number</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Status</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of hotelData">
    <td>
      {{ data.hotelname }}
    </td>
    <td>{{data.phonenumber}}</td>
    <td>{{data.email}}</td>
    <td>{{data.address}}</td>
    <td>{{data.is_approved}}</td>
  </tr>
  </tbody>
</table>
 -->
