
<section class="login">
    <div class="row m-0">
        <div class="col p-0">
            <section class="login-bg">
                <img src="../../../assets/image/logo2.png" alt="">
            </section>
        </div>
        <div class="col p-0">
            <section class="card mx-auto">
                <div class="head">
                    <h2>Reset Password</h2>
                    <p>Please change your password.</p>
                </div>
                <form [formGroup]="formResetPassword">
                    <div class="form-group" >
                        <label>New Password</label>
                        
                        <div class="pwd">
                          <input [type]="passwordType" formControlName="password" #password minlength="6" placeholder="Enter Password" class="form-control">
                        <img src="../../../assets/image/eye.svg" [ngStyle]="{'display':dispalyPasswordTypeEye}" (click)="changePasswordType()" alt="">                          
                        <img src="../../../assets/image/eye-close.svg" [ngStyle]="{'display':dispalyPasswordTypeEyeClose}" (click)="ResetChangePasswordType()" alt="">
                        </div>
                        <div *ngIf="formResetPassword.get('password').invalid && formSubmitAttempt">
                          <div *ngIf="getInput.password.errors?.required" class="text-danger" >Password is required</div>
                          <div *ngIf="getInput.password.errors?.pattern" class="text-danger">Minimum six characters, at least one uppercase letter, one lowercase letter, one special character and one number</div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        
                        <div class="pwd">                        
                          <input [type]="ConfirmpasswordType" formControlName="cpassword"  #cpassword placeholder="Enter Password" class="form-control">
                          <img src="../../../assets/image/eye.svg" [ngStyle]="{'display':ConfirmdispalyPasswordTypeEye}" (click)="changeConfirmPasswordType()" alt="">                          
                          <img src="../../../assets/image/eye-close.svg" [ngStyle]="{'display':ConfirmdispalyPasswordTypeEyeClose}" (click)="ResetConfirmChangePasswordType()" alt="">
                        </div>
                        <div *ngIf="formResetPassword.get('cpassword').invalid && formSubmitAttempt">
                          <div *ngIf="getInput.cpassword.errors?.required" class="text-danger" >Confirm password is required</div>
                          <div *ngIf="getInput.cpassword.errors?.mustMatch" class="text-danger" >Passwords must match</div>
                         
                        </div>						      
                    </div>    
                    <input (click)="changePassword()" type="submit"  class="btn btn-info w-100" value="Submit"/>
                </form>

            </section>
        </div>
    </div>
</section>



<div  class="modal  error-modal"  tabindex="-1" id="hotelPermission" role="dialog"  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
            <img src="../../../assets/image/check-modal.svg" alt="">
          <p class="modal-title">{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closePopup()">ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" [ngStyle]="{'display':displayStyle}"></div>
