<section class="login">
    <div class="row m-0">
        <div class="col-lg-6 col-12 p-0">
            <section class="login-bg">
                <img src="../../../assets/image/logo2.png" alt="">
            </section>
        </div>
        <div class="col-lg-6 col-12 p-0">

            <section class="card mx-auto">

                <div class="head" [ngStyle]="{'display':displayEmail}">
                    <h2>Enter Email</h2>
                </div>
                <div class="head" [ngStyle]="{'display':displayOtp}">
                  <h2>Enter OTP</h2>
              </div>
    
                <form [formGroup]="formDetails"  [ngStyle]="{'display':displayEmail}" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label>Email Id<sup class="required_star">*</sup></label>
                        <input type="email" formControlName="email" placeholder="Enter your email" class="form-control">
                        <div *ngIf="formDetails.get('email').invalid && formSubmitAttempt">
                          <div class="text-danger" >Valid email is required</div>
                        </div>
                    </div>
                    <input  type="submit" class="btn btn-info w-100" value="Submit"/>
                </form>
                
                <form [formGroup]="formDetailsOtp" [ngStyle]="{'display':displayOtp}">
                  <div class="form-group">
                      <label>6 Digit OTP<sup class="required_star">*</sup></label>
                      <ng-otp-input [config]="config" (onInputChange)="onOtpChange($event)"></ng-otp-input>
                      <div *ngIf="formDetailsOtp.get('otp').invalid && formDetailsOtp.get('otp').touched">
                        <div class="text-danger" >OTP is required</div>
                      </div>
                  </div>
                  <input (click)="submitOtp()" type="submit" [disabled]="formDetailsOtp.invalid" class="btn btn-info w-100" value="Submit"/>

                  <a (click)="resendOtp()" class="resend">resend OTP</a>

                </form>

                <form [formGroup]="formResetPassword" [ngStyle]="{'display':displayResetPassword}">
                  <div class="form-group" >
                      <label>New Password<sup class="required_star">*</sup></label>
                      
                      <div class="pwd">
                        <input [type]="passwordType" formControlName="password" #password minlength="6" placeholder="Enter Password" class="form-control">
                        <img src="../../../assets/image/eye.svg" [ngStyle]="{'display':dispalyPasswordTypeEye}" (click)="changePasswordType()" alt="">                          
                        <img src="../../../assets/image/eye-close.svg" [ngStyle]="{'display':dispalyPasswordTypeEyeClose}" (click)="ResetChangePasswordType()" alt="">
                      </div>
                      <div *ngIf="formResetPassword.get('password').invalid && formResetPassword.get('password').touched">
                        <div *ngIf="getInput.password.errors?.required" class="text-danger" >Password is required</div>
                        <div *ngIf="getInput.password.errors?.minlength" class="text-danger">Minimum six characters, at least one uppercase letter, one lowercase letter, one special character and one number</div> 
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Confirm Password<sup class="required_star">*</sup></label>
                      
                      <div class="pwd">                        
                      <input [type]="ConfirmpasswordType" formControlName="cpassword"  #cpassword placeholder="Enter Password" class="form-control">
                      <img src="../../../assets/image/eye.svg" [ngStyle]="{'display':ConfirmdispalyPasswordTypeEye}" (click)="changeConfirmPasswordType()" alt="">                          
                      <img src="../../../assets/image/eye-close.svg" [ngStyle]="{'display':ConfirmdispalyPasswordTypeEyeClose}" (click)="ResetConfirmChangePasswordType()" alt="">
                      </div>
                      <div *ngIf="formResetPassword.get('cpassword').invalid && formResetPassword.get('cpassword').touched">
                        <div *ngIf="getInput.cpassword.errors?.required" class="text-danger" >Confirm password is required</div>
                        <div *ngIf="getInput.cpassword.errors?.mustMatch" class="text-danger" >Passwords must match</div>
                       
                      </div>						      
                  </div>    
                  <input (click)="resetPassword()" type="submit" [disabled]="formResetPassword.invalid" class="btn btn-info w-100" value="Submit"/>
              </form>

            </section>
        </div>
    </div>
</section>

<div  class="modal  error-modal"  tabindex="-1" id="hotelPermission" role="dialog"  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-body">
          <img src="../../../assets/image/check-modal.svg" alt="">
        <p class="modal-title">{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closePopup()">ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" [ngStyle]="{'display':displayStyle}"></div>