<section class="login">
  <div class="row m-0">
    <div class="col-lg-6 col-12 p-0">
      <section class="login-bg">
        <img src="../../../assets/image/logo2.png" alt="" />
      </section>
    </div>
    <div class="col-lg-6 col-12 p-0">
      <section class="card mx-auto">
        <div class="head">
          <h2>Reset Password</h2>
          <p>Please change your password.</p>
        </div>

        <form>
          <div class="form-group">
            <label>New Password</label>
            <input
              type="password"
              placeholder="Enter Password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              placeholder="Enter Password"
              class="form-control"
            />
          </div>
          <a
            class="btn"
            type="submit"
            data-bs-toggle="modal"
            data-bs-target="#hotelPermission"
            >submit</a
          >
        </form>
      </section>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade error-modal"
  id="hotelPermission"
  tabindex="-1"
  aria-labelledby="hotelPermissionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../../../assets/image/check-modal.svg" alt="" />
        <p class="modal-title">
          Congratulation! Your password has been changed successfully.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          ok
        </button>
      </div>
    </div>
  </div>
</div>
