<section class="query">
    <div class="container">

        <div class="col-lg-5 mx-auto">
            <div class="content">
                <h3>Have ANy Query?</h3>
                <p>Please let us know</p>

                <ul>
                    <li><b>Name : </b>{{data.contact_us_name}}</li>
                    <li><b>Email : </b>{{data.contact_us_email}}</li>
                    <li><b>Phone Number : </b>{{data.contact_us_phone_number}}</li>
                    <li><b>Address : </b>{{data.contact_us_address}}</li>
                </ul>
            </div>
        </div>

    </div>
</section>