<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="box-lft">
                    <h1>VM Search <br> Guest Management System</h1>
                    <iframe style="width: 100%;" height="315" [src]='safeURL' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="btn-group">
                        <button class="btn" (click)="openSearch()"><img src="../../../assets/image/search.svg" alt=""> search</button>
                        <button routerLink="/add-guest" class="btn"><img src="../../../assets/image/add-guest.svg" alt=""> add guest</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-12">
                <h3>Live Events</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">name</th>
                        <th scope="col">hotel name/state</th>
                        <th scope="col">feedback</th>
                        <th>details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let event of dataArray.liveEvents">
                        <td><a routerLink="/feedback-approvals-detail/{{event.guestDataEvent._id}}">{{event.guestDataEvent.firstName}} {{event.guestDataEvent.lastName}}</a><span>{{event.eventData.date | date:dateFormat}}</span></td>
                        <td>{{event.hotelDataEvent.hotelname}}<br> {{event.hotelDataEvent.state}}</td>
                        
                        <td>
                          <span *ngFor = "let dnrReasonData of event.eventData.dnrReason;">  {{dnrReasonData | commonDnrName | async}}<br></span>
                          <span >{{event.eventData.comments}}</span>
                        </td>
                        <!--td><img src="../../../assets/image/image.svg" alt=""> 5</td-->
                        <td><a routerLink="/feedback-approvals-detail/{{event.guestDataEvent._id}}"><img src="../../../assets/image/eye.svg" alt=""></a></td>
                      </tr>
                      <tr *ngIf="liveEventsCount == 0"><td>No Record Found</td></tr>   
                    </tbody>
                </table>

                <div class="bottom-section d-flex">
                    <p><img src="../../../assets/image/time.svg" alt="">Past 24 hrs</p>
                    <button routerLink="/live-events" *ngIf="liveEventsCount >= 3" class="btn ms-auto">view more</button>
                </div>
            </div>
        </div>

    </div>
    <div id="myOverlay" [ngStyle]="{'display':displayStyleSearch}" class="overlay">
      <div class="overlay-content">
        <span class="closebtn"  (click)="closeSearch()" title="Close Overlay">×</span>
        <form (keyup.enter)="searchGuestLiting()">
          <img src="../../assets/image/search.svg" alt="">
          <input type="text" placeholder="Search via DL number or Full Name" name="search"  id="search" autofocus  (keypress)="searchGuest($event)">
        </form>
        <ul>
          <li *ngFor="let row of searchResult" ><a href="/feedback-approvals-detail/{{row._id}}"><img src="../../assets/image/search.svg" alt="">{{row.firstName}} {{row.lastName}}</a></li>
          
        </ul>
      </div>
    </div>
</section>
