<section class="query">
    <div class="container">

        <div class="col-lg-5 mx-auto">
            <div class="content">
                <h3>Have ANy Query?</h3>
                <p>Please let us know</p>

                <ul>
                    <li><b>Name : </b>John Doe</li>
                    <li><b>Email : </b>john.doe@gmail.com</li>
                    <li><b>Phone Number : </b>+1-9876543210</li>
                    <li><b>Address : </b>123 Green Avenue, Ring Road Atlana</li>
                </ul>
            </div>
        </div>

    </div>
</section>